@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/livvic-v14-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/livvic-v14-latin-500.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 600;
  src: url('./assets/fonts/livvic-v14-latin-600italic.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/livvic-v14-latin-700.woff2') format('woff2'); 
}

body{
  font-family: 'Livvic', sans-serif;
  background-color: #f1f0ee;
}

:root{
  --clr-main:#bc8e5b
}

.main-color{
  color: var(--clr-main);
}

.ant-input-outlined:focus-within{
  box-shadow: 0 0 0 2px #bc8f5b37;
}
.ant-input-affix-wrapper:hover{
  border-color: var(--clr-main) !important;
}
.ant-input-affix-wrapper-focused{
  border-color: var(--clr-main) !important;
}


/* ACTIVE STYLE */
.active{
  background-color: var(--clr-main);
  border-radius: 10px;
}
/* ACTIVE STYLE */


/* BUTTON STYLE */
.ant-btn:hover{
  color: var(--clr-main) !important;
  border-color: var(--clr-main) !important;
}
.ant-btn-primary{
  background-color: var(--clr-main) !important;
}
.ant-btn-primary:hover{
  color: white !important;
  opacity: 80% !important;
}

/* HOME PAGE STYLE */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;  /* Optional background color */
  overflow: hidden;
}

img {
  width: 150px;  /* Adjust size of the image */
  transition: transform 0.1s ease-out;  /* Smooth transition for movement */
}